@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

body {
  background-color: #fffde7;
}

header, h1 {
  background-color: grey;
  text-align: left;
  margin: 0;
  padding: 5px 5px 5px 5px;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size:25px;
}


nav {
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: center;
  font-size: 20px;
}


h2 {
  text-align: center;
}

.center { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

li {
  margin-left: auto;
  margin-right: auto;
  list-style-position: inside;
}

h3 {
  text-align: center;
  color: red;
}



.contact-images {
  width: 50px;
  height: 50px;
}

.footer {
  margin: 0 auto;
  width: fit-content;
}